/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --body: rgb(201, 199, 199);
  --headline-text: red;
  --header-text-color: white;
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  /* borrowed from mini-project */
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /*in combination with the above font-size, set the standard font size to 17.5 px */
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--header-text-color);
  background-color: var(--body);
  min-height: 125rem;
}

/* header settings borrowed from student project */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--header-text-color);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}
/* offset section headers so they align with vertical bars */
h2 {
  font-size: 3.5rem;
  margin-bottom: -3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

/* page header layout and background image */
header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  min-height: 15rem;
  text-align: start;
  background-image: url("../images/tahoe_header.gif");
  background-size: cover;
  background-position: center;
}
/* header h1 properties */
header h1 {
  margin-left: 1rem;
  font-family: "Dancing Script", cursive;
  font-size: 4.5rem;
}

/* Configure the nav bar in the header as flex */
nav ul {
  display: flex;
  flex: 1 1 10rem;
  text-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  right: -80rem;
  top: 11rem;
}

/* change the default appearance of links */
li a {
  color: var(--header-text-color);
  margin: 5px;
  font-family: "Dancing Script", cursive;
  font-size: 140%;
  text-decoration: none;
}
/* make link text larger on hover */
li a:hover {
  font-size: 150%;
}

/* create the vertical bar for parapgraphs */
#body-text {
  margin-bottom: 4rem;
  border-left: 0.5rem solid var(--header-text-color);
  margin-left: 20rem;
  padding-left: 1rem;
}

/* section > img {
  display: inline-block;
  position: relative;
  top: 5rem;
  width: 5%;
  margin-top: 0;
  margin-right: 0.5rem;
} */

/* set properties for the main display box */
.portfolio-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 0.25rem;
  /*draws vertical bar to the left*/
  border-left: 0.5rem solid var(--header-text-color);
  margin-left: 20rem;
}

/* properties for card headers, currently broken */
.card-header {
  position: relative;
  top: -7rem;
  left: 3rem;
  color: grey;
  border: 2px solid grey;
  border-radius: 8px;
  height: 5rem;
  width: 15rem;
  text-align: center;
}

/* set the properties for each portfolio item display box */
.portfolio-card {
  display: flex;
  height: 20rem;
  width: 52rem;
  color: black;
  margin: 1.5rem;
  /* below borrowed from student project */
  outline: 2px dashed var(--gin);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
  padding: 0.5rem;
}

/* main card should be significantly bigger than the rest */
#main-card {
  width: 69%;
  height: 30rem;
}

footer {
  margin-top: 5rem;
}
/* format links in the contact section*/
div p a {
  margin-left: 5rem;
  color: white;
  text-decoration: none;
}
/* magic font size thingy */
div p a:hover {
  font-size: 150%;
}
/* style the text in the contact section */
div p {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 140%;
  border-left: .5rem solid white;
  margin-left: 20rem;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover 
borrowed from student project */
.portfolio-card:hover,
.portfolio-card:hover .card-header {
  box-shadow: inset 0px 0px 8px red, 0 0 15px grey;
  outline: 2px dashed var(--gin);
}

/* The below is shamelessly pilfered from student mini-project */
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .portfolio-body {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* select the first child to grow to full width if it has space to grow */
  .portfolio-body:first-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 100%;
  }

  .portfolio-body {
    flex: 0 0 100%;
    max-width: 100%;
  }
}