:root {
  --body: rgb(201, 199, 199);
  --header-text-color: white;
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  /* borrowed from mini-project */
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /*in combination with the above font-size, set the standard font size to 17.5 px */
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--header-text-color);
  background-color: var(--body);
  min-height: 130rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* header settings borrowed from student project */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--header-text-color);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}
/* offset section headers so they align with vertical bars */
h2 {
  font-size: 3.5rem;
  margin-bottom: -3rem;
  margin-right: 1rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

/* page header layout and background image */
header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  min-height: 15rem;
  text-align: start;
  background-image: url("../images/tahoe_header.gif");
  background-size: cover;
  background-position: center;
}
/* header h1 properties */
header h1 {
  margin-left: 1rem;
  font-size: 4.5rem;
}

/* Configure the nav bar in the header as flex */
nav ul {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 5rem;
  top: 1rem;
}

/* change the default appearance of links */
li > a {
  color: var(--header-text-color);
  margin: 5px;
  font-size: 140%;
  text-decoration: none;
}
/* make link text larger on hover */
li a:hover {
  font-size: 150%;
}

#me {
  display: inline;
  max-width: 10rem;
  max-height: 13rem;
  margin-right: 0.5rem;
}

/* create the vertical bar for parapgraphs */
#body-text {
  display: flex;
  margin-bottom: 10rem;
  border-left: 0.5rem solid var(--header-text-color);
  margin-left: 20rem;
  padding-left: 1rem;
}

/* set properties for the main display box */
.portfolio-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 0.25rem;
  /*draws vertical bar to the left*/
  border-left: 0.5rem solid var(--header-text-color);
  margin-left: 20rem;
  margin-bottom: 10rem;
}
/* main card should be significantly bigger than the rest */
#main-card {
  width: 75%;
  height: 30rem;
  position: relative;
  top: -3rem;
}
/* properties for card headers, currently broken */
#main-card-header {
  position: relative;
  display: inline;
  left: 1rem;
  top: 1rem;
  color: white;
  background-color: grey;
  font-weight: 500;
  border: 2px solid grey;
  height: 3rem;
  width: 25rem;
  text-align: center;
  border-radius: 0.5rem;
  z-index: +1;
}

/* set the properties for each portfolio item display box */
.portfolio-card {
  display: flex;
  height: 20rem;
  width: 45rem;
  margin: 1rem;
  /* below borrowed from student project */
  transition: all 0.5s ease-in-out;
  padding: 0.5rem;
  border: 0.25rem solid grey;
  border-radius: 0.5rem;
}

footer {
  margin-top: 5rem;
}
/* format links in the contact section*/
div p a {
  margin-left: 5rem;
  color: white;
  text-decoration: none;
}
/* magic font size thingy */
div p a:hover {
  font-size: 150%;
}
/* style the text in the contact section */
div p {
  text-align: center;
  font-size: 140%;
  border-left: 0.5rem solid white;
  margin-left: 20rem;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover 
borrowed from student project */
.portfolio-card:hover,
.portfolio-card:hover .card-header {
  box-shadow: inset 0px 0px 8px red, 0 0 15px grey;
  outline: 2px dashed grey;
}
