/* Set the font family for the entire page */
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* Set variables for the page */
:root {
  --color: rgb(222, 21, 21);
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  top: 0;
  position: fixed;
  background-image: url("../images/tahoe_header.gif");
  background-size: cover;
  background-position: center;
}


/* Configure the text in the header as inline flex */
.header-text {
  display: flex;
  position: absolute;
  right: 5px;
  align-content: center;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color);
  margin: 5px;
  font-family: "Dancing Script", cursive;
  font-size: 140%;
  text-decoration: none;
}

body {
  display: flex;
  flex-wrap: wrap;
  text-wrap: wrap;
  position: absolute;
  margin: 0;
  padding: 0;
  /*background-image: url("../images/tahoe_header.gif");
  background-size: cover;
  background-position: center;*/
  z-index: -1;
}

h1 {
  display: inline;
  position: fixed;
  color: var(--color);
  margin-left: 5px;
  font-family: "Dancing Script", cursive;
}

h2 {
  font-size: 150%;
}

p {
  margin-left:10px;
}

p span {
  font-style: italic;
  font-size: 200%;
}

#about-me {
  display: flex;
  text-wrap: wrap;
  position: relative;
  top: 275px;
  margin: 5px;
}

#about-me-pic {
  height: auto;
  max-height: 150px;
}

#portfolio-box {
  display: flex;
  flex-wrap: wrap;
flex-direction: column;
  position: relative;
  top: 17rem;
}

main {
  width: 100%;
  position: relative;
  z-index: -1;
}

.portfolio-card {
  display: flex;
  flex: 1 1 600px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border-style: dashed;
  border-color: var(--white);
  padding: 0.5rem;
  margin: 5px;
  width: auto;
}

.portfolio-card-header {
  position: relative;
  top: -10rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  border: 1px solid red;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  width: 20%;
  margin-left: 1.25rem;
}

#main-portfolio-card {
  display: flex;
  border: none;
  height: 600px;
  width: 60%;
}

iframe {
  flex: 1 1 600px;
  height: 650px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 10px solid rgb(227, 197, 156);
  border-radius: 25px;
  height: 200px;
  padding-top: 5px;
  background-color: rgb(9, 96, 70);
  width: 40%;
  color: bisque;
  position: relative;
  top: 300px;
}

input[type="submit"] {
  background-color: bisque;
  color: rgb(9, 96, 70);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 25px;
  background-color: rgb(1, 65, 33);
  position: fixed;
  color: white;
  bottom: 0;
  border-top: 10px solid rgb(9, 96, 70);
  text-align: center;
}


@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.portfolio-card:hover,
.portfolio-card:hover .portfolio-card-header {
  box-shadow: inset 0px 0px 8px red, 0 0 15px black;
}

/* each card's code block grows to the height of the largest code block on the page, making each card even in height */
.portfolio-card {
  flex-grow: 1;
}
